.main {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    button {
        margin-bottom: 10px;
    }
}

.menu-container {
    width: 25vw;
    min-width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding:0; 
    margin:0;
}

.page {
    width: 100vw;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}












h1 {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    letter-spacing: 0.3em;
    color: #606060;
    margin-bottom: 10px;
    margin-top: 5px;
    width: calc(100% - 20px);
    padding-left: 20px;
    padding-top: 10px;
}

h3 {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #D3D3D3;
    text-align: left;
    width: calc(100% - 20px);
    padding-left: 20px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.home-view {
    h1 {
        text-align: right;
    }
    .header_image {
        position: absolute;
        z-index: -10;
        width: 100%;
    }
    .earning-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: flex-end;
        margin-bottom: 10%;
        h4 {
            margin: 0px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 17px;
            text-align: center;
            letter-spacing: 0.28em;
            color: #999999;
            &.amount {
                font-style: normal;
                font-weight: 500;
                font-size: 22px;
                text-align: center;
                letter-spacing: 0.28em;
            }
        }
    }
    h5 {
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.1em;
        color: #606060; 
        margin-bottom: 10px; 
    }
}


.oil-view {
    h1 {
        color: #999999;
    }
    .oil-info-container {
        font-style: normal;
        font-weight: 300 !important;
        font-size: 14px;
        letter-spacing: 0.05em;
        color: #111111;
        text-align: left;
        width: calc(100% - 20px);
        padding-left: 20px;
    }
    .credential-list {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: calc(100% - 60px);
        overflow-x: scroll;
        .credential-item {
            min-width: 250px;
            margin-left: 25px;
        }
    }
    .certified_stamp {
        max-width: 50%;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .button-group {
        button {
            margin: 10px;
            margin-top: 20px;
        }
        .MuiButton-label {
            font-size: 16px !important;
        }
    }
}

.not_certified_stamp {
    max-width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.certified_tick {
    max-width: 50%;
    margin-top: 25px;
    margin-bottom: 25px;
}















.div-table-container {
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.div-table {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-table-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: calc(100% - 10px);
    .MuiTextField-root {
        width: 90%;
        max-width: 375px;
        .MuiFormLabel-root {
            font-size: 16px;
        }
    }
    .MuiSelect-root {
        overflow: scroll;
    }
    .MuiFormControl-root {
        width: 90%;
        max-width: 350px;
        margin-bottom: 20px;
    }
    .MuiInput-root.fullwidth {
        width: 90%;
        max-width: 365px;
    }
}

.div-table .unmarked {
    list-style: decimal;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul { 
    list-style: none;
    margin: 0;
    padding: 0;
    li {
        padding: 10px;
    }
}

.scrollable {
    width: 100%;
    max-width: 500px;
    max-height: 50vh;
    overflow: hidden;
    overflow-y: scroll;
    align-items: flex-start;
}

.clickable-delete {
    cursor: not-allowed;
    user-select: none; 
}

.MuiButton-label {
    .menu-item {
        color: white;
        text-decoration: none;
        font-weight: normal;
        width: 100%;
        height: 100%;
    }
}

.MuiButton-containedPrimary {
    background-color: white !important;
    border-radius: 100px !important;
    width: 300px !important;
    border: 3px solid !important;
    border-color: #7D4CDB !important;
    margin-bottom: 15px !important;
    &.Mui-disabled {
        border-color: grey !important;
    }
}

.Mui-disabled .MuiButton-label{
    color:grey;
    a {
        color: grey !important;
    }
}

.MuiButton-label {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: #7D4CDB;
    a {
        color: #7D4CDB !important;
    }
}










.horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}















.modal {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255,255,255,1);
    .modal-content {
        z-index: 20;
        padding: 15px;
        display: flex;
        flex-direction: column;
        align-self: center;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}














.oil-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .oil-item {
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        -webkit-box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.08);
        -moz-box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.08);
        box-shadow: 10px 10px 33px 1px rgba(0,0,0,0.08);
        border-radius: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-color: #7D4CDB !important;
        border: 3px solid;
        .oil-item-info-link {
            text-decoration: none;
            color: black;
        }
        .oil-item-info {
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 2px;
        }
    }

    .for-sale {
        background-color: rgba(125, 76, 219, 0.2);
    }
}

.credential-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .credential-item-info-container {
        width: 75%;
        padding-left: 15px;
    }
    .credential-item {
        width: 90%;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin-top: 25px;
        margin-bottom: 5px;
        &.for-sale {
            background-color: rgba(0,0,0,0.2);
        }
        .credential-item-info-link {
            text-decoration: none;
            color: black;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        .credential-item-info {
            width: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-bottom: 10px;
            &.image { 
                width: 25%;
            }
            &.title {
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                text-align: center;
                letter-spacing: 0.2em;
                color: #606060;
            }
            &.issued {
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                text-align: center;
                letter-spacing: 0.2em;
                color: #A1A1A1;
            }
        }
    }
}




.qr-code {
    width: 100% !important;
    max-width: 500px;
    height: auto !important;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.qr-reader-container {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    section {
        section {
            div {
                border: 30px solid rgba(0, 0, 0, 0.3) !important;
                box-shadow: rgba(125, 76, 219, 1) 0px 0px 0px 3px inset !important;
            }
        }
    }
}

.MuiInput-underline:after {
    border-bottom: 2px solid #7D4CDB !important;
}

.close {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 25px;
    height: 25px;
    img {
        max-width: 100%;
    }
}


.claiming-oil {
    position: absolute;
    top: 40%;
    left: 0;
}


.MuiRadio-colorSecondary.Mui-checked {
    color: #7D4CDB !important;
}

.scanButton {
    position: fixed !important;
    left: 10px;
    top: 10px;
    width: 100px !important;
}



.title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 28px;
    width: 100% !important;
    text-align: center;
    padding-left: 0px;
}

.subtitle {
    font-size: 22px;
    margin-bottom: 10px;
    padding-left: 0;
    text-align: center;
}


.coof-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .coop-info {
        width: 100%;
        padding: 20px;
        text-align: justify;
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        justify-content: center;
        align-items: center;
        &.logo {
            width: 100%;
            img {
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
        }
        &.background {
            width: 100%;
            margin: 20px;
            margin: 0;
            border-radius: 10px;
            overflow: hidden;
            img {
                width: 100%;
                max-width: 100%;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
            }
        }
    }
}


.center-text {
    text-align: center;
    padding: 0px;
    width: 100%;
}

.MuiTableCell-head {
    color: #7D4CDB !important;
}